*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
.container{
    padding: 15px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 10px black inset;
}
.container{
    text-shadow: 0px 0px 5px grey;
}

/* Task . css starts from here */

.newtask{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    min-width: 20vw;
    max-width: 80vw;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}
.newtask input{
    display: block;
    padding:7px 15px;
    font-size: 1rem;
    border: 0;
    margin: 5px;
    box-shadow: 0px 0px 4px inset;
    border-radius: 10px;
    outline: none;
    min-width: 50%;
    max-width: 80%;
    height: 100%;
}
.newtask button{
    padding:6px;
    border-radius: 10px;
    border: 1px solid rgb(248, 121, 142);
    background-color: white;
    box-shadow: 0px 0px 5px black;
    margin: 4px;
    height: 100%;
    font-size: 1rem;
    cursor: pointer;
    /* font-weight: normal; */
    opacity: 0.9;
    /* border: 2px solid transparent; */
    transition: opacity 0.8s ease;
    transition: box-shadow 0.8s ease;
}
.newtask button:hover{
    opacity: 1;
    /* border: 0px solid transparent; */
    box-shadow: 0px 0px 8px black;
    background-color: whitesmoke;
    /* font-weight: bold; */
}
ul{
    margin-top: 15vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.taskitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 50vw;
    max-width: 70vw;
    background-color: white;
    box-shadow: 0px 0px 3px inset;
    border-radius: 10px;
    margin: 7px;
    padding: 8px;
}
.taskitem button {
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    border:2px solid grey;
    background-color:rgb(250, 203, 146);
    cursor: pointer;
}

